<div class="" style="background-color: wheat">
  <div class="">
    <div class="container">
      <br>      <br>
      <br>      <br>      <br>      <br>
      <br>

      <br>

      <h1 style="text-align:center; color:white"><strong>USUARIOS
      </strong></h1>
      <hr>
      <button type="button" style="margin-bottom:1.5em;" class="btn btn-success btn-lg" data-toggle="modal" data-target="#exampleModal">Crear</button><br>
      <hr>

      <h2 style="text-align:center; color:white"><strong>Buscar
      </strong></h2>
      <div class="input-group mb-3">
        <!-- barra de busqueda-->
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Email</span>
          <input type="text" class="form-control email" placeholder="" aria-label="Username" aria-describedby="basic-addon1"
          name="email"  #email="ngModel" [(ngModel)]="busquedaData.email">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Identification</span>
          <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1"
          name="identification"  #identification="ngModel" [(ngModel)]="busquedaData.identification">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Rol</span>
          <select name="role_id" #role_id="ngModel" [(ngModel)]="busquedaData.role_id" class="custom-select" id="inputGroupSelect01">
            <option  value="0" selected>Ninguno</option>
            <option value="3">Comprador</option>
            <option value="2">Vendedor</option>
          </select>
        </div>

        <button type="button" style="margin-right: 2em;"class="btn btn-lg btn-primary" (click)="busqueda()" >Iniciar Busqueda <i class="nc-icon nc-zoom-split"></i></button>
        <button type="button" class="btn btn-secondary btn-lg" (click)="Users()" >Refrescar</button>

<div style="margin-left: 1em;">
  <label  style="margin-left: 1em; text-align: right" ><strong>Items por Pag.  </strong></label>

</div>
<div>
  <select  name="id" #id="ngModel" [(ngModel)]="totals.id" class="form-control form-control-sm  col-md-12">
    <option  *ngFor="let number of pag" >{{number}}</option>
  </select>
</div>


        <hr>


      </div>
      <hr>


      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-xl-3 mb-4" *ngFor="let usua of users">
          <div class="card mb-4 border-danger " >
            <div class="card-header text-center border-danger">
              <strong>{{ usua.name }}<br></strong>
              {{ usua.email }}<br>
              {{ usua.phone_number }}<br>
              {{ usua.role.name }}<br>

              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-warning"  data-toggle="modal" data-target="#EditUser" (click)="VerUser(usua.id)">Editar</button>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li [ngClass]="{'active':page.active,'disabled':page.url === null}" *ngFor="let page of pagination" class="page-item">
          <a  class="page-link" href="javascript:;" (click)="UsersPaginations(page.url)" >{{page.label.replace('laquo', '').replace('raquo', '').replace('&', '').replace(';', '')}}</a></li>

      </ul>
    </nav>

    <br>    <br>


  </div>
</div>


<!-- Crear Usuario--->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Crear Usuario</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="register-form">
          <input  style="text-align:center;
          box-shadow: 0.1px 0.2px rgb(225, 218, 218);" type="text" class="form-control" placeholder="name"
          name="name" #name="ngModel" [(ngModel)]="user.name">

          <input  style="text-align:center;
          box-shadow: 0.1px 0.2px rgb(225, 218, 218);" type="email" class="form-control" placeholder="Email"
          name="email" #email="ngModel" [(ngModel)]="user.email">

          <input   style="text-align:center;
          box-shadow: 0.1px 0.2px rgb(225, 218, 218);"type="text" class="form-control" placeholder="phone_number"
          name="phone_number" #phone_number="ngModel" [(ngModel)]="user.phone_number">

          <input   style="text-align:center;
          box-shadow: 0.1px 0.2px rgb(225, 218, 218);margin-bottom:1.4em"type="text" required="true"  class="form-control" placeholder="Identification"
          name="identification" #identification="ngModel" [(ngModel)]="user.identification">

          <div class="input-group mb-3">
            <div class="input-group-prepend">

              <label class="input-group-text" for="inputGroupSelect01">Rol</label>
            </div>
            <select name="role_id" #role_id="ngModel" [(ngModel)]="user.role_id" class="custom-select" id="inputGroupSelect01">
              <option disabled="true" selected>Choose...</option>
              <option value="3">Comprador</option>
              <option value="2">Vendedor</option>
            </select>
          </div>

          <input   style="text-align:center;
          box-shadow: 0.1px 0.2px rgb(225, 218, 218);"type={{type}}    [ngClass]="{'is-valid':comprobador(user.password)}" required="true"  pattern=".{8,}" class="form-control" placeholder="Password"
          name="password" #password="ngModel" [(ngModel)]="user.password">

          <label style="color:black"><strong>Debe tener 8 letras, una minuscula y una mayuscula, un numero y un simbolo</strong> </label>





          <input   style="text-align:center;
          box-shadow: 0.1px 0.2px rgb(225, 218, 218);" type={{type}} [ngClass]="{'is-valid': user.password== user.password_confirmation,'is-invalid': user.password != user.password_confirmation}" class="form-control is-valid" placeholder="Confirm Password"
          name="password_confirmation" #password_confirmation="ngModel" [(ngModel)]="user.password_confirmation">

          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck1" type="checkbox" (click)="togglePass()">
            <label class="custom-control-label" for="customCheck1" style="color: black"><strong>Show Password</strong></label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="crearUser()" [disabled]="!(comprobador(user.password) && (user.password === user.password_confirmation))">Crear Usuario</button>
      </div>
    </div>
  </div>
</div>

<!-- Editar Usuario--->
<div class="modal fade" id="EditUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Crear Usuario</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="register-form">
          <input  style="text-align:center;
          box-shadow: 0.1px 0.2px rgb(225, 218, 218);" type="text" class="form-control" placeholder="name"
          name="name" #name="ngModel" [(ngModel)]="ModalUser.name">

          <input   style="text-align:center;
          box-shadow: 0.1px 0.2px rgb(225, 218, 218);"type="text" class="form-control" placeholder="phone_number"
          name="phone_number" #phone_number="ngModel" [(ngModel)]="ModalUser.phone_number">

          <input   style="text-align:center;
          box-shadow: 0.1px 0.2px rgb(225, 218, 218)"type="text" required="true"  class="form-control" placeholder="Identification"
          name="identification" #identification="ngModel" [(ngModel)]="ModalUser.identification">



          <input   style="text-align:center;
          box-shadow: 0.1px 0.2px rgb(225, 218, 218);"type={{type}}    [ngClass]="{'is-valid':comprobador(ModalUser.password)}" required="true"  pattern=".{8,}" class="form-control" placeholder="New Password"
          name="password" #password="ngModel" [(ngModel)]="ModalUser.password">

          <label style="color:black"><strong>Debe tener 8 letras, una minuscula y una mayuscula, un numero y un simbolo</strong> </label>


          <input   style="text-align:center;
          box-shadow: 0.1px 0.2px rgb(225, 218, 218);" type={{type}} [ngClass]="{'is-valid': ModalUser.password== ModalUser.password_confirmation,'is-invalid': ModalUser.password != ModalUser.password_confirmation}" class="form-control is-valid" placeholder="Confirm Password"
          name="password_confirmation" #password_confirmation="ngModel" [(ngModel)]="ModalUser.password_confirmation">

          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck1" type="checkbox" (click)="togglePass()">
            <label class="custom-control-label" for="customCheck1" style="color: black"><strong>Show Password</strong></label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="EditUser(ModalUser.id)">Editar Usuario</button>
      </div>
    </div>
  </div>
</div>
