
<div class="wrapper">
  <div class="page-header"style="background-image: url('../assets/img/carRegister.jpg');">
    <div class="filter"></div>
    <div class="container">
      <br>      <br>
      <br>      <br>      <br>      <br>
      <br>      <br>


      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-7 col-12 ml-auto">
          <div class="info info-horizontal">
            <div class="icon">
              <i class="nc-icon nc-send"></i>            </div>
            <div class="description">
              <h3>Encuentra la felicidad</h3>
              <p>El carro de tus sueños te espera a un solo clic </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon">
              <i class="fa fa-map-signs"></i>
            </div>
            <div class="description">
              <h3> Sencillas busquedas </h3>
              <p>No te preocupes estamos seguros de que tenemos el carro perfecto para ti, y encontrarlo esta un clic.</p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon">
              <i class="fa fa-user-secret"></i>
            </div>
            <div class="description">
              <h3> Facíl de usar </h3>
              <p>El carro de tus sueños sera la prueba más facil que tengas que pasar si usas nuestra aplicacion.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-5 col-12 mr-auto" >
          <div class="card card-register" style="background-color: #E8E8DF;">
            <h3 class="card-title text-center">Register</h3><br>

            <div class="division">
              <div class="line l"></div>
              <div class="line r"></div>
            </div>
            <form class="register-form">
              <input type="text" class="form-control" placeholder="name"
              name="name" #name="ngModel" [(ngModel)]="user.name">

              <input type="email" class="form-control" placeholder="Email"
              name="email" #email="ngModel" [(ngModel)]="user.email">

              <input type="text" class="form-control" placeholder="phone_number"
              name="phone_number" #phone_number="ngModel" [(ngModel)]="user.phone_number">

              <input type="text" required="true"  class="form-control" placeholder="Identification"
              name="identification" #identification="ngModel" [(ngModel)]="user.identification">


              <input type="password" required="true"  pattern=".{8,}" class="form-control" placeholder="Password"
              name="password" #password="ngModel" [(ngModel)]="user.password">



              <input type="password"  class="form-control" placeholder="Confirm Password"
              name="password_confirmation" #password_confirmation="ngModel" [(ngModel)]="user.password_confirmation">

              <button class="btn btn-block btn-round" (click)="registrar()"> Register</button>
            </form>
            <div class="login">
              <p style="color:rgb(0, 0, 0);">Already have an account? <a style="color:rgb(189, 75, 75);" routerLink="/Login">Log in</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
