
<div class="wrapper">
  <div class="page-header"style="background-image: url('../assets/img/carRegister.jpg');">
    <div class="filter"></div>
    <div class="container">
      <br>      <br>
      <br>      <br>      <br>      <br>
      <br>      <br>


      <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <div class="card card-register" style="background-color: #E8E8DF;">
            <h3 class="card-title text-center">Register</h3><br>

            <div class="division">
              <div class="line l"></div>
              <div class="line r"></div>
            </div>
            <form class="register-form">
              <input type="text" class="form-control" placeholder="name"
              name="name" #name="ngModel" [(ngModel)]="user.name">

              <input type="email" class="form-control" placeholder="Email"
              name="email" #email="ngModel" [(ngModel)]="user.email">

              <input type="text" class="form-control" placeholder="phone_number"
              name="phone_number" #phone_number="ngModel" [(ngModel)]="user.phone_number">

              <input type="text" required="true"  class="form-control" placeholder="Identification"
              name="identification" #identification="ngModel" [(ngModel)]="user.identification">

              <input id="myInput"type={{type}} [ngClass]="{'is-valid':comprobador(user.password),'is-invalid':!comprobador(user.password)}"  required="true"  pattern=".{8,}" class="form-control" placeholder="Password"
              name="password" #password="ngModel" [(ngModel)]="user.password">


              <label style="color:black"> debe tener 8 letras, una minuscula y una mayuscula, un numero y un simbolo</label>


              <input type={{type}} [ngClass]="{'is-valid': user.password== user.password_confirmation,'is-invalid': user.password != user.password_confirmation}" class="form-control" placeholder="Confirm Password"
              name="password_confirmation" #password_confirmation="ngModel" [(ngModel)]="user.password_confirmation">
              <div class="custom-control custom-checkbox mb-3">
                <input class="custom-control-input" id="customCheck1" type="checkbox" (click)="togglePass()">
                <label class="custom-control-label" for="customCheck1" style="color: black">Show Password</label>
              </div>
              <button class="btn btn-block btn-round" (click)="registrar()" [disabled]="!(comprobador(user.password) && (user.password === user.password_confirmation))"> Register</button>
            </form>
            <div class="login">
              <p style="color:rgb(0, 0, 0);">Already have an account? <a style="color:rgb(189, 75, 75);" routerLink="/Login">Log in</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
